html, body {
    height: 100%;
    margin: 10px auto;
    width: 100vw;
    
  }

  #control {
    padding: 10px 200px;
    background-color: #eee;
    display: flex;
    gap: 10px;
    margin: auto, 200px;
  }

  #container{
    width: 100vw;
    height: 100vh; /* Deja espacio para los controles */
    display: grid;
    margin: 20px 50px;
    border: 1px solid black; 
    grid-template-columns: repeat(23,1fr);
    grid-template-rows: repeat(23,1fr);
  }

  .cuadro {
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #fdfdfd;
    border: 1px solid black;
    transition: background-color;
   
  }


